<html>
<head>
.title
{color:gold;
font-size:20px;
font-family:Times New Roman;
}
.paragraphs{
color:black;
font-size:14px;
 font-family:Times New Roman;
}
.description{
	color:black;
font-size:14px;
font-family:Times New Roman;}
</head>
<body>
<background-color:"babyblue">
<div class ="title">Culture lives through controversity-Vivienne Westwood</div class>
<div class ="paragraphs"></div class>
<div class ="description"></div class>
</body>
</html>