@font-face {
    font-family:'Malvides';
    src: url('malvides/Malvides.otf')format('opentype');
}

#homepage_title{
font-family:'Malvides';
font-size:48px;

}
body{
    background-color:white;
display:flex;
flex-direction:column;
align-items:center;

   overflow-x:hidden;
}
.navbar{
    margin:0px;
    margin-left:0px;
    height:10vh;
    width:100%;
    display:flex;
    flex-direction:row;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 1.0),  rgba(255, 255, 255, 0.5)   );
    position:sticky;
    top:0;
    z-index:1;
    justify-content: space-around;
    overflow-y:hidden;
}
.button_nav_{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
    gap:3px;

  
}

#wishListProducts{
    display:grid;
    grid-template-columns:(5,1fr);
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
}
#searchButton{
    background:url('icons8-magnifier-24.png');
    background-repeat:no-repeat;
    height:45%;
    margin-top:10%;
    width:30px;
    border:none;
    cursor:pointer;

}

#heart_button{ 
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    cursor:pointer;
   background-color: transparent;
}
.navSearchBarButton{
    height:70%;
    display:flex;
    flex-direction: row;
    border-bottom: 0.5px solid #333;
    margin-bottom:0%;
}
input:focus{
    outline:none;
}
input:active{
    outline:none;
}
.badge{
    position:absolute;
    bottom: 14px;
    padding:3px;
    left:1em;
    border-radius: 48%;
    background-color: red;
    color:white;

}
.addBagButton:hover{
    transform:scale(0.8);

}
.addBagButton{
    cursor:pointer;
}



.paragraphs{
color:black;
font-size:14px;

}
.description{
	color:black;
font-size:14px;

}

.container_pozele_de_panou{
	display:flex;
flex-direction:row;
align-items:center;

 
}
.clothesHref:hover{
    animation-play-state: paused;
}
.carusel{
    width: 95%;
    overflow: hidden;
    display:flex;
 
}
.clothesWomenHrefs{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:1em;
animation: scroll 30s  infinite linear;
padding-right:1em;
}

#womenSectionHeader{
     font-family:'Permanent Marker';
  font-weight: 500;
  font-size: 30px;

}
#menSectionHeader{
      font-family:'Permanent Marker';
 font-weight: 500;
   font-size: 30px;
}


@keyframes scroll {
    from {translate: 0;}
    to {translate:-100%;}
}
.clothesMenHrefs{
   display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:1em;
animation: scroll 30s  infinite linear;
padding-right:1em;
}

.container{
display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
  
}
.sectiuni{
	display: flex;
	flex-direction:column;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
.image-button {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    overflow: hidden; 
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.image-button img {
    width: 500px;
    height: 250px;
    display: block;
    border-radius: 8px;
}

.image-button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
}

.option_search_container{
        position:absolute;
    display:flex;
    flex-direction:column;
    top:9%;
    left:12%;
    z-index:1;
  border-radius:10px;
    height:150px;
}
.option_search  {
     display: inline-block; 
    padding:15px;
    text-decoration: none;
    background:transparent;
    color:black;
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.option_search:hover{
    background-color:grey;
    transform:ease 0.3s;
    color:white;
    transition:background-color 1.5s ease;
}
.searchBar{
    display:flex;
    flex-direction: column;
}
.option_search a{
    display:none;
}
.option_none{
    display:none;
}
home-button:hover, .alta_pagina_button:hover {
    background: gray;
    transform: scale(1.1);
}

    .bottom-section .text {
        order: 1;
    }

    .bottom-section .img {
        order: 2;
    
}
.heartButton{
    background: url('icons8-heart-24.png');
    background-repeat: no-repeat;
}
#user_button{
     background-image: url('user.png'); 
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    cursor:pointer;
   background-color: transparent;
}
.button_nav{
    width:36px;
    height:36px;
}